<div class="form">
    <ol class="content-header breadcrumb">
        <li>{{ status.label }}{{status.form.label}}</li>
    </ol>

    <div class="content-form form-horizontal">
        <div class="form-group" ng-repeat="column in status.columns track by $index"
             ng-if="(status.form.columns.length == 0 || status.form.columns == null ||  status.form.columns.indexOf(column.name))!==-1  && (column.form != false)">
            <div uib-form-field="column" field-index="$index" ng-model="status.form.model[column.name]"></div>
        </div>


        <!-- 扩展属性 -->
        <div class="form-group" ng-repeat="model in status.form.extends.model track by $index" ng-if="status.form.extends.active">
            <div class="col-md-2 col-sm-2">
                <input style="text-align: right" type="text" class="form-control" ng-model="model.key">
            </div>
            <div class="col-md-10 col-sm-10 form-field-content">
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <input placeholder="{{column.placeholder}}" type="text" class="form-control" ng-model="model.value">
                    </div>
                    <button class="btn btn-danger" ng-click="status.form.extends.model.splice($index, 1);">{{'baseDelete.label'|T}}</button>
                </div>
            </div>
        </div>
        <div style="padding-left: 17%;padding-bottom: 10px;font-size: 12px;">"<i class="fa fa-asterisk" style="color: #f66;font-size: 0.5em;"></i>"{{'form.mustLabel.label'|T}}</div>
        <div class="content-buttons">
            <button uib-button uib-button-name="button.name" uib-button-submitting="status.form.isSubmitting" ng-disabled="status.form.isSubmitting" ng-repeat="button in status.form.toolbar.buttons | orderBy:'sort'" type="submit"
                    class="btn btn-default" ng-if="button.active != false" ng-class="button.cls" ng-click="button.onClick();">{{button.name}}
            </button>
        </div>
    </div>
</div>