.auth {
}
.auth .bg-main {
    /*height:803px;*/
    width: 100%;
    min-width: 1200px;
    z-index: -10;
    background: no-repeat center 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    zoom: 1;
}
.auth .bg-main>ul{
    position: absolute;
    margin-top: 230px;
}
.auth .auth-box .fa{
    position: relative;
    top: 7px;
    color:#fff;
}
.auth .briNav{
    position: absolute;
    margin-top: 200px;
    margin-left: 40px;
    display: block;
}
.auth label{
    margin-bottom: 0px;
}

.auth .auth-main {
    color: #fefeff;
    height:803px;
    padding-top: 200px;
    /*padding-left: 100px;*/
    margin-left: 120px;
}

.auth .auth-main .cn {
    font-size: 60px;
}
.auth .auth-main .en{
    font-size: 50px;
    display: block;
}

.auth .cur-line{
    width: 400px;
    height: 3px;
    background-color: #fdd208;
    margin: 25px 0 25px 0;
}
.auth .form-group{
    font-size: 28px;
    margin-bottom: 0px;
    text-align: left;
}
.auth .form-control{
    display: inline;
    width: 200px;
    background-color: transparent;
    border: none;
}
.auth .temp .form-control{
    width: 100px;
}

#multipleBridge .nav-tabs.nav-justified>li{
    display: table-caption;
    padding: 5px;
    margin-bottom: 20px;
    padding-left: 30px;
}
#singleBridge .nav-tabs.nav-justified>li{
    display: none;
    padding: 5px;
    margin-bottom: 20px;
}
.auth .nav-tabs.nav-justified>li>a{
    border-radius: 0px;
    padding: 10px;
    background-color: #FFFFFF;
}
.auth .nav-tabs > li.active > a{
    background-color: #fdd208;
}
.auth .nav-tabs > li.active > a:focus{
   background-color: #fdd208;
}

/*down*/
.auth .unit{
    padding: 72px 0 0 95px;
}
.auth .unit-right{
    padding-left:100px;
}
.auth .Title{
    font-size: 30px;
}
.auth .unitDetail{
    padding-top: 53px;
    font-size: 16px;
}
.auth i.logo {
    height: 100px;
    font-size: 16em;
    color: rgb(10,74,18);
}

.auth .bridgeImg{
    margin: 88px 0 0 95px;
}
.auth .bri-right{
    margin-top: 110px;
    margin-left: 40px;
}

.auth .briDetail{
    padding-right:40px;
    padding-top: 47px;
    font-size: 16px;
}

.auth .com-right{
   margin: 123px 0 0 90px;
}
.auth .comDetail{
    padding-top: 43px;
    font-size: 16px;
}
.auth .comImg{
    margin-top: 75px;
}

#multipleBridge .auth-box {
    position: absolute;
    width: 100%;
    min-width: 1200px;
    margin-top:40px;
}
#singleBridge .auth-box{
    position: absolute;
    width: 100%;
    min-width: 1200px;
    margin-top:200px;
}

.auth .auth-form {
    position: absolute;
    right: 100px;
    top: 500px;
    color: #d2d2d2;
    z-index: 999;
}

.auth .auth-form .form-control {
    width: 200px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff;
}

.auth .checkbox {
    overflow: hidden;
}

.auth .btn-submit {
    background: transparent;
    color: #ffffff;
    font-size: 16px;
    border: 1px solid #fff;
    /*width: 57px;*/
    height: 25px;
    border-radius: 0px;
    padding: 0 12px;
    float: right;
}
.auth .pull-left{
    margin-top: 3px;
}

.auth .btn-submit.disabled:hover,
.auth .btn-submit.disabled:focus {
    background: #45dbc4;
    color: #ffffff;
    border: none;
}

.auth .auth-footer {
    margin-top: 82px;
    bottom: 10px;
    font-size: 16px;
    min-width: 1200px;
}
.auth .auth-footer .cn{
    float: right;
    padding: 15px 80px;
}
.auth .auth-footer hr{
    border-top: 1px solid #bfbfbf;
}
.auth .auth-footer span{
    padding-right: 10px;
}
.carousel-control{
    display: none;
}
.carousel-caption{
    right: 60%;
    left: 0;
    padding-bottom: 200px;
}
.carousel-indicators{
    left:0;
    padding-left: 40px;
    margin-left: 0;
    margin-bottom: 400px;
}
.carousel-indicators li{
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    margin: 15px;
    background-color:transparent ;
    border: 1px solid #FFFFFF;
}
.carousel-indicators .active{
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    margin: 15px;
    background-color:#fdd208 ;
    border: 1px solid #FFFFFF;
}
