<div class="list" xmlns:orderBy="http://www.w3.org/1999/xhtml">
    <ol class="content-header breadcrumb">
        <li>{{ status.label }}{{'list.label'|T}}</li>
    </ol>

    <div>
        <div class="content-filter" ng-if="status.list.filter.active != false" ui-view="toolbar-left"></div>
        <div class="content-toolbar" ng-if="status.list.toolbar.active != false">
            <button ng-repeat="button in status.list.toolbar.buttons | orderBy:'sort'" class="fa pull-right"
                    ng-if="button.active != false"
                    ng-class="button.cls" ng-click="button.onClick()">{{button.name}}
            </button>
            <div class="clearfix"></div>
        </div>
    </div>


    <table class="table table-striped">
        <thead>
        <tr class="item">
            <th ng-if="status.list.table.multiple">
                <input type="checkbox" ng-model="status.list.table.isCheckedAll"
                       ng-change="status.list.table.onCheckedAll()">
            </th>
            <th ng-repeat="column in status.columns track by $index"
                ng-if="(status.list.table.columns.length == 0 || status.list.table.columns == null ||  status.list.table.columns.indexOf(column.name) !== -1) && (column.list != false)"
                uib-table-sort="column.sort || column.name" uib-table-on-sort="column.sortable && status.list.table.onSort" uib-table-sort-order="status.list.table.sortOrder" style="cursor: pointer">
                {{column.title}}
                <i ng-if="column.sortable && !startOrder" class="fa fa-sort"></i>
                <i ng-if="column.sortable && status.list.table.sortOrder =='asc'&& startOrder" class="fa fa-sort-asc" style="vertical-align: bottom"></i>
                <i ng-if="column.sortable && status.list.table.sortOrder =='desc' && startOrder" class="fa fa-sort-desc" style="vertical-align: top"></i>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="item" ng-repeat="obj in status.list.table.data">
            <td ng-if="status.list.table.multiple">
                <input type="checkbox" ng-model="obj.checked" ng-change="status.list.table.onChecked()">
            </td>
            <td ng-repeat="column in status.columns track by $index" style="max-width: 200px"
                ng-if="(status.list.table.columns.length == 0 || status.list.table.columns == null ||  status.list.table.columns.indexOf(column.name))!==-1 && (column.list != false)">
                <div uib-form-list="column" ng-model="obj[column.name]"></div>
            </td>
        </tr>
        <tr ng-if="status.list.table.data.length < status.list.table.rows"
            ng-repeat="i in angular.range(status.list.table.rows - status.list.table.data.length) track by $index">
            <td ng-if="status.list.table.multiple"><input type="checkbox" disabled></td>
            <td ng-repeat="column in status.columns" style="max-width: 200px"
                ng-if="status.list.table.columns.length == 0 || status.list.table.columns.length == null ||  status.list.table.columns.indexOf(column.name) !==-1">
                &nbsp;
            </td>
        </tr>
        </tbody>
    </table>
    <div style="text-align: center">
        <div style="text-align: center" ng-if="listInfoVoid"><img src="images/void.png"><label style="display: block;font-size: 20px;color:rgb(197,197,197);margin-top: 20px">{{'base.dataVoid.label'|T}}</label></div>
        <div style="text-align: center" ng-if="listInfoLoad"><img src="images/loading.png"><label style="display: block;font-size: 20px;color: rgb(197,197,197);margin-top: 20px">{{'base.dataLoading.label'|T}}</label></div>
    </div>
    <div class="pagination-box" ng-if="status.list.table.paging != false">
        <ul uib-pagination
            total-items="status.list.table.total"
            ng-model="status.list.table.page"
            ng-change="status.list.table._onPageChanged()"
            max-size="status.list.table.rows"
            boundary-links="status.list.table.boundaryLinks"
            first-text="{{status.list.table.firstText}}"
            last-text="{{status.list.table.lastText}}"
            next-text="{{status.list.table.nextText}}"
            previous-text="{{status.list.table.previousText}}">
        </ul>
    </div>
</div>