<div class="header-info">

    <div class="status">
        <div class="go-home fa fa-A075 fa-2x" ui-sref="home"></div>
        <div class="language-select-box">
            <div class="language-select">
                <div class="btn-group" uib-dropdown keyboard-nav>
                    <a uib-dropdown-toggle>
                        {{curLang?curLang :systemLang}}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                        <li ng-repeat="lang in langs" ng-click="selectDef(lang)"><a href="javascript:">{{lang.name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="user-info"><a href="javascript:">{{currentUser.name}}</a></div>
        <div class="logout"><a href="javascript:" ng-click="signout()">{{'注销'}}</a></div>
    </div>
</div>
<div class="header-nav">
    <!--{{nav.header.items}}  -->
    <ul class="nav nav-pills">
        <li ng-class="{'active': n.active, }" ng-repeat="n in nav.header.items">
            <a ui-sref="{{n.abstract === false ? n.name : n.abstract}}" class=" fa {{n.icon}} size">
                <span class="headerTabName">{{n.label|T}}</span>
            </a>
        </li>
    </ul>
</div>