<div id="bms-left" class="bms-left" ng-if="nav.left.items.length > 0">
    <div class="bms-nav " uib-nav="nav.currentStateName">
        <!--{{nav}}-->
        <div uib-nav-toggle>
            {{thirdMenuName|T}}
        </div>
        <div class="rtm-main">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-default"
                     ng-class="{'{{n.name}}': true}" is-open="true" is-disabled="true">

                    <div uib-grid uib-grid-row-count="nav.left.items.length"
                         uib-grid-options="nav.left.items">
                        <div uib-grid-item ng-repeat="n in nav.left.items" ui-sref-active="active"
                             ui-sref="{{n.abstract === false ? n.name : n.abstract}}">
                            <!--<img ng-src='../../../images/image-icon/{{n.icon}}.png'>-->
                            <div class="menuCircle" ng-style="{{toNgStyle(n.style)}}">
                                <span class="fa {{n.icon}} fa-3x" style="color: #FFFFFF;line-height: 55px;vertical-align: middle"></span>
                            </div>
                            <div class="monitor-title">{{n.label|T}}</div>
                        </div>
                    </div>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>
<div ng-if="nav.currentStateName == 'rtm.historyWarning'">
    <div ui-view="content" class="bms-main-content" style="width: 100%"></div>
</div>
<div ng-if="nav.currentStateName != 'rtm.historyWarning'">
    <div ui-view="content" class="bms-main-content" ng-class="{'no-button': nav.left.items.length === 0}"></div>
</div>
