<div class="bms-main home" ng-class="{'no-header': nav.header.items.length == 0}">
    <div class="bridge-info" >
        <div class="nav-bridge">
            <ion-list>
                <ion-item ng-repeat="group in status.data" >
                    <div id="ZhoushanBtn" class="fontSize-Title bridgeW topFont" ng-click="showAllItem(group)">
                        {{group.name}}
                    </div>
                    <img src="images/home-images/home-left-star.png" style="margin-top: -7px;margin-left: 15px">
                    <a href="" style="text-decoration:none">
                        <div ng-repeat="bridge in group.bridges" ng-if="bridge.gisOnly!=true" class="bridgeW towFont">
                            <div class="left-circle" ng-class="{fontActive: status.current === bridge,fontSize: status.current !== bridge}">
                                <i class="fa {{bridge.bridgeType.icon}} fa-3x" style="line-height: 30px;padding: 6.5px 0px;"></i>
                            </div>
                            <div class="" ng-class="{fontActive: status.current === bridge,fontSize: status.current !== bridge}" ng-click="showItemsList(bridge)">
                                {{bridge.name}}
                            </div>
                        </div>
                    </a>
                </ion-item>
            </ion-list>
        </div>
        <!--<div style="background-color: #999;"><span>当前绘制线的坐标：</span><span id='points'></span></div>-->

        <div id="map" class="bridge-map">
            <div my-openlayers></div>
            <button id="mapType" class="map-type-2D" ng-click="changeMapType()"></button>
        </div>
        <button id="isShowCardBtn" class="btn btn-primary btn-showCard" ng-click="isShowSelectedBridgeCard()" ng-show="showCardButton"><i class="fa fa-angle-double-up fa-2x" ng-show="showCard"></i><i class="fa fa-angle-double-down fa-2x" ng-show="!showCard"></i></button>
        <div class="bridge-info-right" ng-show="showCard">
            <div class="bridge-title">{{bridgeName}}</div><hr>
            <div class="bridge-select-detail" ng-show="true">
                <div style="height: 42px;line-height: 42px"><span style="vertical-align: middle">{{'home.bridgeRating.label'|T}}</span>&nbsp;&nbsp;{{'home.noRating.label'|T}}</div><P style="font-size: 20px">{{status.current.rtData.bridgeGrade}}</P><hr>
                <div class="">
                    <p style="font-size: 18px;display: block;margin-top: 10px">{{'home.deckwindpower.label'|T}}</p>
                    <span>{{'home.windSpeed.label'| T}}:{{status.current.rtData.windSpeed}} &nbsp;&nbsp;{{status.current.rtData.windSpeedLevel}}</span><br/>
                    <i class="fa fa-A061 fa-3x"></i>
                    <p>{{status.current.rtData.windDirection}}</p>
                    <hr>
                    <span style="padding: 6px;display: block">{{'home.humidity.label'|T}}/{{'home.temperature.label'|T}}</span>
                    <span style="display:block;font-size: 16px;padding-bottom: 6px">{{status.current.rtData.humidity}}/{{status.current.rtData.temperature}}</span>
                    <hr>
                    <p ng-if="status.current.rtData.hasOwnProperty('trafficUp') || status.current.rtData.hasOwnProperty('trafficDown')" style="height: 29px;line-height: 29px;margin: 5px 0"><i class="fa fa-A062 fa-2x" style="vertical-align: middle"></i>&nbsp;&nbsp;&nbsp;<span style="vertical-align: middle">{{'home.vehicleMonitoring.label'|T}}</span></p>
                    <hr>
                </div>
                <div class="bridge-part" ng-if="status.current.rtData.hasOwnProperty('trafficUp')|| status.current.rtData.hasOwnProperty('trafficDown')">
                    <span class="inner" >{{'home.Upward.label'|T}}<br/>{{status.current.rtData.trafficUp}}</span>
                    <span class="out" style="display: block;float: right">{{'home.down.label'|T}}<br/>{{status.current.rtData.trafficDown}}</span>
                    <hr>
                </div>
                <div class="time-part"><i class="fa fa-clock-o fa-2x"></i><span style="vertical-align: middle">&nbsp;&nbsp;{{status.current.rtData.updateTime}}</span></div>
            </div>
        </div>
        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
    </div>
    <div ng-if="!currentUser.forIframe" class="nav-module">
        <div class="nav-module-item-box" ng-repeat="nav in navs"
             ui-sref="{{nav.abstract === false ? nav.name : nav.abstract}}">
            <div ui-sref="overview" class="nav-module-item"
                 ng-class="{'{{nav.cls}}': true, 'disabled': '{{nav.enabled}}'}">
                <span>{{nav.label|T}}</span>
                <i class="fa" ng-class="nav.icon"></i>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>